{{!-- [ ] Timeline needs to show created at, comments, etc.
[ ] Timeline needs an add comment button that brings up the chat log modal --}}


{{!-- ON TICKET HANDLEBARS --}}

<div class="timeline-ticket-create">
    <p>Ticket Created</p>
    <p>{{format_date createdAt}}</p>
</div>
{{>timeline}}

{{!-- for each log, we will render the comment & timestamp --}}

{{#each logs as |log|}}
<body class="timeline-body">
    <div class="timeline-container">
        <div class="container left">
            <div class="content">
                <h3>{{log.message}}</h3>
                <p>{{format_date createdAt}}</p>
            </div>
        </div>
    </div>
</body>

{{!--
<aside class="p-2 col-6">
    <div class="card mb-3">
        <div class="card-body text-black m-5 w-75 ">
            <h5 class="card-header w-75 fs-6 w-100 text-center" id="ticket-timestamp text">{{
                <ul>format_date createdAt}}
            </h5>
            {{#each log}}
            <li>
                {{format_date createdAt}}
                <ul>
                    {{#each messages}}
                    <li>{{this.message}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
            </ul>
        </div>
    </div>
</aside> --}}