<header>
  <h2 class="brand-logo p-2 mt-3 mb-1">{{subject}}</h2>
  <section class="p-2 ml-3 brand-logo">
    Description: {{description}}
    <br>
      Opened by {{client.firstName}} on {{format_date createdAt}}
  </section>

  <div class="container">  
    <div class="right hide-on-med-and-down fixed-top mb-4 mt-5 p-4 ">
      <button class="btn float-end rounded-pill d-flex justify-content-center bg-black text-white">{{urgency}}</button>
    </div>
    <div class="right hide-on-med-and-down fixed-top mt-10 p-4 ">
      <button class="btn float-end rounded-pill d-flex justify-content-center bg-black text-white">{{status}}</button>
    </div>
  </div>
</header>

{{!-- TICKET CARDS --}}
{{#if isTechLoggedIn}}
{{!-- TECH SIDE --}}
<main class="row container-fluid">
  <aside class="p-2 col-6 float-">
    <div class="card mb-3 text-center">
      <div class="card-body text-black m-2 w-90">
        <h5 class="card-text fs-6 w-100 text-center text-black mt-1" id="ticket-description">SUBJECT</h5>
        <h5 class="card-header fs-6 w-100 text-black" id="ticket-subject text">{{subject}}</h5>

        <h5 class="card-text fs-6 w-100 text-center  text-black mb-3 " id="ticket-description">Description</h5>

        <p class="card-header mb-3" id="description-text">
          {{description}}
        </p>

        <div class='form-field'>
          <select id='urgencyFilter' class='form-control text-center bg-black text-white'>
            <option>SELECT URGENCY</option>
            <option>LOW</option>
            <option>MEDIUM</option>
            <option>HIGH</option>
            {{#each urgency}}
            <option value="{{this}}">{{this.urgency.type}}</option>
            {{/each}}
          </select>
        </div>

        <div class='form-field mt-3'>

          <select id='urgencyFilter' class='form-control text-center bg-black text-white'>

            <option>SELECT STATUS</option>
            <option>OPEN</option>
            <option>PENDING</option>
            <option>RESOLVED</option>
            <option>CLAIMED</option>
            {{#each status}}
            <option value="{{this}}">{{this.status.type}}</option>
            {{/each}}
          </select>
        </div>


        <button class="btn bg-black border-black w-100 text-white mt-3 edit-ticket-btn" type="button">
          Save Changes
        </button>
      </div>
  </aside>

  {{!-- TIMELINE --}}
<aside class="p-2 col-6">
    <div class="card mb-3">
        <div class="card-body text-black m-3 w-80">
            <h4 class="card-header fs-6 w-100 text-center">Ticket Log</h4>
            <h5 class="fs-6 w-100 text-center date-size" id="ticket-timestamp text">{{format_date createdAt}}</h5>
            <ul>
                {{#each logs}}
                <ul>
                    <li>{{this.message}}</li>
                    <li class="date-size">-{{this.user.firstName}}, {{format_date this.createdAt}}</li>
                </ul>
                {{/each}}
            </ul>
</div>
</aside>

  <section class="offset-md-5 col-md-4 ">
    <button type="button" id="back-button"
      class="col-md-4 btn rounded-pill d-flex justify-content-center bg-black text-white">
      <i class="material-icons white-text">arrow_back</i>
      Back
    </button>
  </section>
</main>
{{else}}

{{!-- CLIENT SIDE --}}
<main class="row container-fluid">
  <aside class="p-2 col-6 float-">
    <div class="card mb-3 text-center">
      <div class="card-body text-black m-2 w-90">
        <h5 class="card-text fs-6 w-100 text-center text-black mt-1" id="ticket-description">SUBJECT</h5>
        <h5 class="card-header fs-6 w-100 text-black" id="ticket-subject text">{{subject}}</h5>

        <h5 class="card-text fs-6 w-100 text-center  text-black mb-3 " id="ticket-description">Description</h5>

        <p class="card-header mb-3" id="description-text">
          {{description}}
        </p>

        <div class='form-field'>
          <div id='urgencyFilter' class='form-control text-center bg-black text-white'>
            <p>{{urgency}}</p>
          </div>
        </div>


        <div class='form-field mt-3'>
          <div id='urgencyFilter' class='form-control text-center bg-black text-white'>
            <p>{{status}}</p>
          </div>
        </div>

      </div>
  </aside>

  {{!-- TIMELINE --}}
<aside class="p-2 col-6">
    <div class="card mb-3">
        <div class="card-body text-black m-3 w-80">
            <h4 class="card-header fs-6 w-100 text-center">Ticket Log</h4>
            <h5 class="fs-6 w-100 text-center date-size" id="ticket-timestamp text">{{format_date createdAt}}</h5>
            <ul>
                {{#each logs}}
                <ul>
                    <li>{{this.message}}</li>
                    <li class="date-size">-{{this.user.firstName}}, {{format_date this.createdAt}}</li>
                </ul>
                {{/each}}
            </ul>
</div>
</aside>

</main>

    <button 
      class="btn btn-primary black white-text btn black btn-style"
      id="back-button">
      {{!-- <i class="material-icons white-text">arrow_back</i> --}}
      Back
    </button>
    <button
      class="btn btn-primary black white-text btn black btn-style"
      id="show-chat">
      Show Chat Logs
      {{!-- <i class="material-icons white-text">arrow_forward</i> --}}
      </button>


{{/if}}


{{!-- Show Chat Modal --}}
<!-- show logs for specific ticket modal (ticket.handlebars)-->

<!--modal div for log messages-->
<div id="chat-dialogue" class="hidden">
  <button id="close-chat-modal" class="position-absolute top-0 end-0 z-5">X</button>
  <div class="dialogue-content">
    {{!-- <h4>Help Desk Chat</h4> --}}
    {{!-- {{#each messages as |message|}} --}}
    <form>
      <label for="message">Message:</label>
      <textarea id="message-txt" class="form-input"></textarea>

      <div class="form-check">
        {{!-- <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault hide-message toggle-hide log-id"> --}}
        <input type="checkbox" value="true" id="toggle-hide" class="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Hide Message
        </label>
      </div>
      <button type="submit" id="add-message-btn" class="btn btn-primary white black-text">Send</button>
    </form>
  </div>
</div>


<script defer src="/assets/js/ticket.js"></script>
<script defer src="/assets/js/backbutton.js"></script>