<header>
  <h2 class="brand-logo p-2 mt-3 mb-1">{{subject}}</h2>
  <section class="p-2 ml-3 brand-logo">
    Description: {{description}}
    <br>
    Opened by {{client.firstName}} on {{format_date createdAt}}
  </section>

  <div class="container">
    <div class="right hide-on-med-and-down fixed-top mb-4 mt-5 p-4 ">
      <button class="btn float-end rounded-pill d-flex justify-content-center bg-black text-white">{{urgency}}</button>
    </div>
    <div class="right hide-on-med-and-down fixed-top mt-10 p-4 ">
      <button class="btn float-end rounded-pill d-flex justify-content-center bg-black text-white">{{status}}</button>
    </div>
  </div>
</header>

{{!-- TICKET CARDS --}}
{{#if isTechLoggedIn}}
{{!-- TECH SIDE --}}
<main class="row container-fluid">
  <aside class="p-2 col-6 float-">
    <div class="card mb-3 text-center">
      <div class="card-body text-black m-2 w-90">
        <h5 class="card-text fs-6 w-100 text-center text-black mt-1" id="ticket-subject">SUBJECT</h5>
        <h5 class="card-header fs-6 w-100 text-black" id="ticket-subject-text">{{subject}}</h5>

        <h5 class="card-text fs-6 w-100 text-center text-black mb-3 " id="ticket-description">Description
        </h5>

        <p class="card-header mb-3" id="description-text" style="max-height: 10em; overflow-y: auto;">
          {{description}}
        </p>

        <div class='form-field'>
          <select id='urgencyFilter' class='form-control text-center bg-black text-white edit-urgency'>
            <option>SELECT URGENCY</option>
            <option>LOW</option>
            <option>MEDIUM</option>
            <option>HIGH</option>
            {{!-- {{#each urgency}}
            <option value="{{this}}">{{this.urgency.type}}</option>
            {{/each}} --}}
          </select>
        </div>

        <div class='form-field mt-3'>

          {{!-- <form id='status-form'> --}}
            <select id='urgencyFilter' class='form-control text-center bg-black text-white edit-status'>
              <option>SELECT STATUS</option>
              <option>OPEN</option>
              <option>PENDING</option>
              {{!-- <option>RESOLVED</option> --}}
              <option>CLAIMED</option>
              {{!-- {{#each status}}
              <option value="{{this}}">{{this.status.type}}"</option>
              {{/each}} --}}
            </select>

        </div>

        <button class="btn bg-black border-black w-100 text-white mt-3 edit-ticket-btn" type="submit">
          Save Changes
        </button>
        {{!-- </form> --}}
      </div>
  </aside>

  {{!-- TIMELINE --}}
  <aside class="p-2 col-6">
    <div class="card mb-3">
      <div class="card-body text-black m-3 w-80">
        <h4 class="card-header fs-6 w-100 text-center">Ticket Log</h4>
        <ul>
          <div class="timeline-contents" style="max-height: 30em; overflow-y: auto;">
            {{>timeline}}
          </div>
        </ul>
      </div>
  </aside>

</main>

<button class="btn btn-primary black white-text btn black btn-style" id="back-button">
  Back
</button>
<button class="btn btn-primary black white-text btn black btn-style" id="show-chat">
  Show Chat Logs
</button>

{{else}}

{{!-- CLIENT SIDE --}}
<main class="row container-fluid">
  <aside class="p-2 col-6 float-">
    <div class="card mb-3 text-center">
      <div class="card-body text-black m-2 w-90">
        <h5 class="card-text fs-6 w-100 text-center text-black mt-1" id="ticket-subject">SUBJECT</h5>
        <h5 class="card-header fs-6 w-100 text-black" id="ticket-subject-text">{{subject}}</h5>

        <h5 class="card-text fs-6 w-100 text-center  text-black mb-3 " id="ticket-description">Description</h5>

        <p class="card-header mb-3" id="description-text">
          {{description}}
        </p>

        <div class='form-field'>
          <div id='urgencyFilter' class='form-control text-center bg-black text-white'>
            <p>{{urgency}}</p>
          </div>
        </div>


        <div class='form-field mt-3'>
          <div id='statusFilter' class='form-control text-center bg-black text-white'>
            <p>{{status}}</p>
          </div>
        </div>

      </div>
  </aside>

  {{!-- TIMELINE --}}
  <aside class="p-2 col-6">
    <div class="card mb-3">
      <div class="card-body text-black m-3 w-80">
        <h4 class="card-header fs-6 w-100 text-center">Ticket Log</h4>
        <ul>
          <div class="timeline-contents" style="max-height: 30em; overflow-y: auto;">
            {{>timeline}}
          </div>
        </ul>
      </div>
  </aside>

</main>

<button class="btn btn-primary black white-text btn black btn-style" id="back-button">
  Back
</button>
<button class="btn btn-primary black white-text btn black btn-style" id="show-chat">
  Show Chat Logs
</button>

{{/if}}


{{!-- Show Chat Modal --}}
<!-- show logs for specific ticket modal (ticket.handlebars)-->

<!--modal div for log messages-->
<div id="chat-dialogue" class="hidden">
  <button id="close-chat-modal" class="position-absolute top-0 end-0 z-5">X</button>
  <div class="dialogue-content">
    {{!-- Help Desk Chat --}}
    <div class="container">
      <ul>
        {{#each logs}}
        <ul class="chat-ul {{determineAlignment}}">
          <li class="chat-msg-txt">{{this.message}}</li>
          <li class="date-size chat-msg-tag">-{{this.user.firstName}}, {{format_date this.createdAt}}</li>
        </ul>
        {{/each}}
      </ul>
    </div>
    <form>
      <label for="message">Message:</label>
      <textarea id="message-txt" class="form-input"></textarea>

      <label class="form-check">
        <input class="form-check-input hide-message toggle-hide log-id" type="checkbox" value="true"
          id="flexCheckDefault">
        Hide Message
      </label>

      <button type="submit" id="add-message-btn" class="btn btn-primary white black-text">Send</button>
    </form>
  </div>
</div>


<script defer src="/assets/js/ticket.js"></script>
<script defer src="/assets/js/backbutton.js"></script>